#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.no-results-message {
  grid-column: 1 / -1;
  text-align: center;
  font-style: italic;
  color: #777;
  font-size: 1rem;
}
